---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";


const posts = (await getCollection("blog"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .reverse();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        display: flex;
        flex-direction: column;
        gap: 2.5em;
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
        flex-direction: column;
      }
      img {
        height: 250px;
        width: 100%;
        object-fit: cover;
      }
      img:hover {
        transform: scale(1.01);
        transition: all ease-in-out 0.2s;
      }
      a {
        text-decoration: none !important;
      }
    </style>
  </head>
  <body>
    <Header />


    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`/blog/${post.slug}/`}>
                  <Image
                    src={post.data.heroImage}
                    alt={post.data.title}
                    loading="lazy"
                    width="320" height="260"
                    decoding="async"
                    transition:name="image"
                  />
                  <h2>{post.data.title}</h2>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
