---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";


const posts = (await getCollection("blog"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .reverse();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />


    <main class="p-4 max-w-lg m-auto">
        <ul class="flex flex-col w-full gap-12">
          {
            posts.map((post) => (
              <li class="p-2 border-4 border-amber-500 border-double rounded-2xl">
                <a href={`/blog/${post.slug}/`} class="flex flex-col gap-4">
                  <Image
                    class="w-full rounded-xl"
                    src={post.data.heroImage!}
                    alt={post.data.title}
                    loading="lazy"
                    width="320" height="260"
                    decoding="async"
                    transition:name="image"
                  />
                  <h2 class="text-green-900 text-5xl font-bold font-['Dongle'] px-2">{post.data.title}</h2>
                  <ul class="flex gap-2 py-2">
                    {post.data.tags?.map((tag) => <a href={`/tags/${tag}`}><li class="text-green-700 px-2 rounded-xl border-green-700 border-2 text-sm leading-snug">{tag}</li></a>)}
                   </ul>
                </a>
              </li>
            ))
          }
        </ul>

    </main>
    <Footer />
  </body>
</html>
