---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage, tags } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main
      class="p-4 m-auto max-w-xl min-h-screen flex flex-col justify-between"
    >
      <article class="flex flex-col gap-2">
        {
          heroImage && (
            <Image
              class="rounded-xl"
              width={720}
              height={180}
              src={heroImage}
              alt=""
              transition:name="image"
            />
          )
        }
        <h2 class="text-5xl font-bold text-green-700 font-['Dongle']">
          {title}
        </h2>
        <ul class="flex gap-2 pb-2">
          {
            tags?.map((tag) => (
              <a href={`/tags/${tag}`}>
                <li class="text-green-700 px-2 rounded-xl border-green-700 border-2 text-sm leading-snug">
                  {tag}
                </li>
              </a>
            ))
          }
        </ul>
        <hr class="border-orange-400 border-dashed" />
        <slot />
      </article>
      <Footer />
    </main>
  </body>
</html>
